<footer class="dark:bg-black dark:text-white bg-white text-black py-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col text-center lg:text-start md:flex-row justify-between items-center">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-semibold drop-shadow-lg"> Hanzala Sarguroh</h3>
                <p class="text-sm text-gray-400 dark:text-gray-600 drop-shadow-sm">Showcasing my projects and skills</p>
            </div>
            <a href="mailto:hanzalasarguroh@gmail.com?subject=Contact&body=Hello%20Hanzala,"
                class="relative inline-flex items-center justify-center px-6 py-3 overflow-hidden font-bold text-white transition-all duration-300 ease-out border-2 border-purple-500 dark:border-indigo-500 rounded-full shadow-md group hover:scale-110">
                <span
                    class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-purple-500 dark:bg-indigo-500 group-hover:translate-x-0 ease">
                    <svg class="w-6 h-6 dark:text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                    </svg>
                </span>
                <span
                    class="absolute flex items-center justify-center w-full h-full text-purple-500 dark:text-indigo-500 transition-all duration-300 transform group-hover:translate-x-full ease">Contact
                    Me!</span>
                <span class="relative invisible">Contact Me!</span>
            </a>
        </div>
    </div>
</footer>