<ng-container *ngIf="project$ | async as project">
    <div class="container mx-auto px-4 py-8">
        <button routerLink="/" class="mb-4 text-blue-500 hover:text-blue-600 transition-colors duration-300">
            &larr; Back to Projects
        </button>
        <div class="bg-white rounded-lg shadow-lg overflow-hidden transition-all duration-300 hover:shadow-xl">
            <div class="relative h-64 overflow-hidden">
                <!-- <img [src]="project.Images" [alt]="project.name"
                    class="w-full h-full object-cover transition-transform duration-300 hover:scale-105"> -->
                <div class="absolute inset-0 bg-gray-50 flex items-center justify-center  ">
                    <h1 class="text-black text-4xl font-bold">{{ project.name }}</h1>
                </div>
            </div>

            <div class="p-6">
                <h2 class="text-2xl font-semibold mb-2">{{ project.tagline }}</h2>
                <p class="text-gray-600 mb-4">{{ project.description }}</p>

                <div class="mb-6">
                    <h3 class="text-xl font-semibold mb-2">Technologies Used</h3>
                    <div class="flex flex-wrap">
                        <span *ngFor="let tech of project.technologies"
                            class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 mb-2 px-2.5 py-0.5 rounded-full transition-colors duration-300 hover:bg-blue-200">
                            {{ tech }}
                        </span>
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
                    <!-- <div>
                        <h3 class="text-xl font-semibold mb-2">Key Features</h3>
                        <ul class="list-disc list-inside">
                            <li *ngFor="let feature of project.features"
                                class="mb-1 transition-colors duration-300 hover:text-blue-600">{{ feature }}</li>
                        </ul>
                    </div> -->
                    <!-- <div>
                        <h3 class="text-xl font-semibold mb-2">Challenges Overcome</h3>
                        <ul class="list-disc list-inside">
                            <li *ngFor="let challenge of project.challenges"
                                class="mb-1 transition-colors duration-300 hover:text-blue-600">{{ challenge }}</li>
                        </ul>
                    </div> -->
                </div>

                <!-- <div class="mb-6">
                    <h3 class="text-xl font-semibold mb-2">Lessons Learned</h3>
                    <ul class="list-disc list-inside">
                        <li *ngFor="let lesson of project.lessons"
                            class="mb-1 transition-colors duration-300 hover:text-blue-600">{{ lesson }}</li>
                    </ul>
                </div> -->

                <div class="flex justify-between">
                    <a [href]="project.github_link" target="_blank" rel="noopener noreferrer"
                        class="bg-gray-800 text-white px-4 py-2 rounded transition-colors duration-300 hover:bg-gray-700">
                        View on GitHub
                    </a>
                    <a [href]="project.live_link" target="_blank" rel="noopener noreferrer"
                        class="bg-blue-500 text-white px-4 py-2 rounded transition-colors duration-300 hover:bg-blue-600">
                        Live Demo
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-container>