rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow reading of all documents
    match /{document=**} {
      allow read: if true;
    }

    // Allow unauthenticated write access only to the viewsCount field
    match /Views/{docId} {
      allow update: if request.resource.data.keys().hasOnly(['viewsCount']);
    }
  }
}
