<div
    class="bg-white dark:bg-black text-primary-foreground dark:text-white py-20 px-6 md:px-12 lg:px-24 flex flex-col items-center justify-center text-center shadow-lg">
    <h1 class="text-5xl md:text-6xl lg:text-7xl  mb-4 drop-shadow-lg">Hello, I'm <span class="font-extrabold">Hanzala
            Sarguroh</span></h1>
    <p class="text-lg md:text-xl lg:text-2xl mb-6 max-w-2xl">Unleash the potential of web development with my innovative
        solutions.</p>
    <a (click)="openPdf()"
        class="bg-primary hover:bg-primary/80 text-primary-foreground dark:text-white font-semibold py-4 px-10 rounded-full transition duration-300 ease-in-out transform hover:scale-105 shadow-black dark:shadow-white shadow-lg hover:shadow-xl">
        View Resume
    </a>
</div>