<app-hero></app-hero>
<section
    class="py-16 px-4 sm:px-6 lg:px-8 transition-colors duration-300 ease-in-out bg-white text-gray-900 dark:bg-black dark:text-white">

    <div class="absolute inset-0 overflow-hidden">
        <div
            class="absolute left-1/4 top-0 w-96 h-96 bg-blue-400 rounded-full mix-blend-multiply filter blur-xl opacity-20 animate-blob">
        </div>
        <div
            class="absolute right-1/4 top-1/2 w-96 h-96 bg-indigo-400 rounded-full mix-blend-multiply filter blur-xl opacity-20 animate-blob animation-delay-2000">
        </div>
        <div
            class="absolute left-1/2 top-1/2 w-96 h-96 bg-purple-400 rounded-full mix-blend-multiply filter blur-xl opacity-20 animate-blob animation-delay-4000">
        </div>
    </div>

    <div class="max-w-7xl mx-auto">
        <h2
            class="text-3xl font-extrabold tracking-tight sm:text-4xl mb-12 text-center text-gray-900 dark:text-white drop-shadow-lg">
            Projects
        </h2>
        <div *ngIf="projects$ | async as projects" class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3"
            [@staggerAnimation]="projects.length">
            <div *ngFor="let project of projects" routerLink="/projects/{{ project.id }}"
                class="group relative bg-transparent overflow-hidden rounded-lg shadow-2xl shadow-gray-400 dark:shadow-gray-400 transition-all duration-300 ease-in-out hover:shadow-2xl dark:hover:shadow-indigo-500/20 hover:shadow-indigo-500/50">
                <div class="aspect-w-16 aspect-h-9 relative overflow-hidden">
                    <div class="relative h-64 overflow-hidden">
                        <img [src]="project.Images[0]" [alt]=""
                            class="w-full h-full object-cover transition-all duration-500 group-hover:scale-110">
                        <div
                            class="absolute inset-x-0 bottom-0 h-5 bg-gradient-to-t from-white dark:from-gray-800 to-transparent backdrop-blur-sm">
                        </div>
                    </div>
                    <div
                        class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out">
                    </div>
                </div>
                <div class="p-6 relative z-10">
                    <h3
                        class="text-xl font-semibold mb-2 transition-colors duration-300 ease-in-out text-gray-900 group-hover:text-indigo-600 dark:text-white dark:group-hover:text-indigo-400 drop-shadow-lg">
                        {{ project.name }}
                    </h3>
                    <p class="text-sm transition-colors duration-300 ease-in-out text-gray-600 dark:text-gray-300">
                        {{ project.tagline }}
                    </p>
                </div>
                <div
                    class="absolute bottom-0 left-0 w-full h-1 bg-gradient-to-r from-indigo-500 to-purple-500 transform scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out origin-left drop-shadow-sm">
                </div>
            </div>
        </div>
    </div>
</section>